* {
    padding: 9px;
    margin: 31px;
    box-sizing: border-box; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{ 
  
background-image: url("img3.jpg");
background-attachment:fixed;
background-repeat: no-repeat;
background-position:center;

}

header {
    margin: auto;
    padding: 9px;
    height: 90px;
}
 h2 {color: rgb(115, 46, 171);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
 }
#bottom {   position: absolute;
    bottom: 5px;
    left: 1000px;
    color: rgb(115, 46, 171);
  }
  @media screen and (min-width: 80rem) {
    .container {
      margin: 1em 2em;
    }
  }

.container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.container header{
    display: flex;
    justify-content: space-around;
    bottom: 50px;
    width: 40%;
    position: absolute;
}

.inputs {
    display: flex;
    position: absolute;
    justify-content: space-between;
    background: #5cb0e1;
    height: 32px;
    width: 400px;
    
    border-radius:30px;
}
.inputs input {
    margin: 0px 5px;
    padding: 5px 15px;
    border: none;
    background:local;
    flex-basis: 95%;
}
input:focus {
    border: none;
    outline: none;
}

.inputs i {
    position: relative;
    top: 5px;
    margin: -17px 0px;
    flex-basis: 5%;
    font-size: 18px;
}
#list_item {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
}






